# -

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

from pydataset import data
from env import get_db_url

In [2]:
# Helper Functions

α = 0.05

def test_1tail_larger(t, p):
    if (p / 2) < α and t > 0:
        print('The null hypothesis is rejected')
    else:
        print('Failed to reject null hypothesis')
        
def test_1tail_smaller(t, p):
    if (p / 2) < α and t < 0:
        print('The null hypothesis is rejected')
    else:
        print('Failed to reject null hypothesis')
        
def test_2tail(p):
    if p < α:
        print('The null hypothesis is rejected')
    else:
        print('Failed to reject null hypothesis')

# Overview Exercises

For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like.

---

### Has the network latency gone up since we switched internet service providers?

Null Hypothesis: There is no difference in network latency between internet service provider A and internet service provider B.

Alternative Hypothesis: On average the network latency for internet service provider B is greater than that of internet service provider A.

True Positive: Testing determines that there is a difference in network latency between ISP A and ISP B which agrees with reality.

True Negative: Testing determines that there is no difference in network latency between ISP A and ISP B which agrees with reality.

Type I Error: Testing determines that there is a difference in network latency between ISP A and ISP B, but in reality there is no difference.

Type II Error: Testing determines that there is no difference in network latency between ISP A and ISP B, but in reality there is a difference.

---

### Is the website redesign any good?

Null Hypothesis: The website redesign does not resolve the issue raised about the old design.

Alternative Hypothesis: The website redesign resolves the issue raised about the old design.

True Positive: Testing determines that the redesign does resolve the issue raised about the old design which agrees with reality.

True Negative: Testing determines that the resdesign does not resolve the issue raised about the old design which agrees with reality.

Type I Error: Testing determines that the redesign does resolve the issue raised about the old design, but in reality it does not.

Type II Error: Testing determines that the resdesign does not resolve the issue raised about the old design, but in reality it does.

---
### Is our television ad driving more sales?

Null Hypothesis: Our television ad is not driving more sales.

Alternative Hypothesis: Our television ad is driving more sales.

True Positive: Testing determines that our television ad is driving more sales which agrees with reality.

True Negative: Testing determines that our television ad is not driving more sales which agrees with reality.

Type I Error: Testing determines that our television ad is driving more sales, but in reality it is not.

Type II Error: Testing determines that our television ad is not driving more sales, but in reality it is.

# T-Test Exercises

### Ace Realty

Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

We are comparing two samples so we will use a two sample t-test for comparison.

**Assumptions**

- Normal Distribution, or at least 30 observations and "kinda" normal. The more observations you have, the less "normal" it needs to appear. (CLT)
- Independent samples
- Equal Variances (or set method argument to False when not

In [3]:
# Each sample has more than 30 observations so presume normal distributions

sample1_mean = 90
sample1_stddev = 15
sample1_size = 40

sample2_mean = 100
sample2_stddev = 20
sample2_size = 50

In [4]:
# The variances are not equal so we will set the equal_var argument to False, the samples are independent.
sample1_stddev ** 2, sample2_stddev ** 2

(225, 400)

In [5]:
# Since we don't have the datasets we use the ttest_ind_from_stats function

t, p = stats.ttest_ind_from_stats(
    sample1_mean, 
    sample1_stddev, 
    sample1_size, 
    sample2_mean, 
    sample2_stddev, 
    sample2_size, 
    equal_var = False
)

$H_{0}$: The average time to sell homes at office #1 equals the average time to sell homes at office #2.
<br>
$H_{a}$: The average time to sell homes at office #1 is significantly larger than the average time to sell homes at office #2.

In [6]:
test_1tail_larger(t, p)

Failed to reject null hypothesis

$H_{0}$: The average time to sell homes at office #1 equals the average time to sell homes at office #2.
<br>
$H_{a}$: The average time to sell homes at office #1 does not equal the average time to sell homes at office #2.

In [7]:
test_2tail(p)

The null hypothesis is rejected

$H_{0}$: The average time to sell homes at office #1 equals the average time to sell homes at office #2.
<br>
$H_{a}$: The average time to sell homes at office #1 is significantly smaller than the average time to sell homes at office #2.

In [8]:
test_1tail_smaller(t, p)

The null hypothesis is rejected

**Conclusion**

The average time to sell homes at office #1 is significantly smaller than the average time to sell homes at office #2.

---

### MPG

Load the mpg dataset and use it to answer the following questions:

In [9]:
mpg = data('mpg')
mpg.info()
alpha = 0.05

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

---
### Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

Here we will be comparing two different samples so we will use a two sample t-test for comparison.

**Assumptions**

- Normal Distribution, or at least 30 observations and "kinda" normal. The more observations you have, the less "normal" it needs to appear. (CLT)
- Independent samples
- Equal Variances (or set method argument to False when not

In [10]:
# Here we create a average mpg column in order to make comparing the fuel efficiency of each car easier.

mpg['avg_mpg'] = (mpg.cty + mpg.hwy) / 2
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,avg_mpg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0

**Verify Assumptions**

In [11]:
# Each sample has more than 30 observations, and they are independent samples

mpg.year.value_counts()

1999    117
2008    117
Name: year, dtype: int64

In [12]:
# Now we assign our samples to variables

sample_1999 = mpg[mpg.year == 1999].avg_mpg
sample_2008 = mpg[mpg.year == 2008].avg_mpg

In [13]:
# The variances are not equal so we will set the equal_var argument to False

sample_1999.var(), sample_2008.var()

(27.122605363984682, 24.097480106100797)

In [14]:
# Calculate the t statistic and p value
t, p = stats.ttest_ind(sample_1999, sample_2008, equal_var = False)

$H_{0}$: The average mpg for 1999 cars equals the average mpg for 2008 cars.
<br>
$H_{a}$: The average mpg for 1999 cars is significantly larger than the average mpg for 2008 cars.

In [15]:
test_1tail_larger(t, p)

Failed to reject null hypothesis

$H_{0}$: The average mpg for 1999 cars equals the average mpg for 2008 cars.
<br>
$H_{a}$: The average mpg for 1999 cars does not equal the average mpg for 2008 cars.

In [16]:
test_2tail(p)

Failed to reject null hypothesis

$H_{0}$: The average mpg for 1999 cars equals the average mpg for 2008 cars.
<br>
$H_{a}$: The average mpg for 1999 cars is significantly smaller than the average mpg for 2008 cars.

In [17]:
test_1tail_smaller(t, p)

Failed to reject null hypothesis

**Conclusion**

There is no difference in fuel-efficiency in cars from 2008 vs 1999?

---
### Are compact cars more fuel-efficient than the average car?

Here we will be comparing one sample to the overall so we will use a one sample t-test.

**Assumptions**

- Normal Distribution, or at least 30 observations and "kinda" normal. The more observations you have, the less "normal" it needs to appear. (CLT)

In [18]:
# Here we assign our sample to a variable

compact_cars = mpg[mpg['class'] == 'compact'].avg_mpg

**Verify Asssumptions**

In [19]:
# We have more than 30 observations

compact_cars.size

47

In [20]:
# Calculate the overall mean, t statistic and p value
overall_mean = mpg.avg_mpg.mean()

alpha = 0.05
t, p = stats.ttest_1samp(compact_cars, overall_mean)

$H_{0}$: The average mpg for compact cars equals the overall average mpg.
<br>
$H_{a}$: The average mpg for compact cars is significantly larger than the overall average mpg.

In [21]:
test_1tail_larger(t, p)

The null hypothesis is rejected

$H_{0}$: The average mpg for compact cars equals the overall average mpg.
<br>
$H_{a}$: The average mpg for compact cars does not equal the overall average mpg.

In [22]:
test_2tail(p)

The null hypothesis is rejected

$H_{0}$: The average mpg for compact cars equals the overall average mpg.
<br>
$H_{a}$: The average mpg for compact cars is significantly smaller than the overall average mpg.

In [23]:
test_1tail_smaller(t, p)

Failed to reject null hypothesis

**Conclusion**

The fuel efficiency for compact cars is significantly larger than the overall fuel efficiency for all cars.

---
### Do manual cars get better gas mileage than automatic cars?

Here we will be comparing two different samples so we will use a two sample t-test for comparison.

**Assumptions**

- Normal Distribution, or at least 30 observations and "kinda" normal. The more observations you have, the less "normal" it needs to appear. (CLT)
- Independent samples
- Equal Variances (or set method argument to False when not

In [24]:
# Assign the sample sets to variables

manual_cars = mpg[mpg.trans.str.contains('manual')].avg_mpg
automatic_cars = mpg[mpg.trans.str.contains('auto')].avg_mpg

**Verify Assumptions**

In [25]:
# Each sample has more than 30 observations, and they are independent samples

manual_cars.size, automatic_cars.size

(77, 157)

In [26]:
# The variances are not equal so we will set the equal_var argument to False

manual_cars.var(), automatic_cars.var()

(26.635167464114826, 21.942777233382337)

In [27]:
t, p = stats.ttest_ind(manual_cars, automatic_cars, equal_var = False)

$H_{0}$: The average mpg for manual cars equals the average mpg for automatic cars
<br>
$H_{a}$: The average mpg for manual cars is significantly larger than the average mpg for automatic cars

In [28]:
test_1tail_larger(t, p)

The null hypothesis is rejected

$H_{0}$: The average mpg for manual cars equals the average mpg for automatic cars
<br>
$H_{a}$: The average mpg for manual cars does not equal the average mpg for automatic cars

In [29]:
test_2tail(p)

The null hypothesis is rejected

$H_{0}$: The average mpg for manual cars equals the average mpg for automatic cars
<br>
$H_{a}$: The average mpg for manual cars is significantly smaller than the average mpg for automatic cars

In [30]:
test_1tail_smaller(t, p)

Failed to reject null hypothesis

**Conclusion**

The fuel efficiency of manual cars is significantly larger than the fuel efficiency of automatic cars.

---

# Correlation Exercises

## 1

Use the telco_churn data. Does tenure correlate with monthly charges? Total charges? What happens if you control for phone and internet service?

In [54]:
# We will download the telco_churn data from mysql

customers = pd.read_sql('SELECT * FROM customers', get_db_url('telco_churn'))
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               7043 non-null   object
 1   gender                    7043 non-null   object
 2   senior_citizen            7043 non-null   int64
 3   partner                   7043 non-null   object
 4   dependents                7043 non-null   object
 5   tenure                    7043 non-null   int64
 6   phone_service             7043 non-null   object
 7   multiple_lines            7043 non-null   object
 8   internet_service_type_id  7043 non-null   int64
 9   online_security           7043 non-null   object
 10  online_backup             7043 non-null   object
 11  device_protection         7043 non-null   object
 12  tech_support              7043 non-null   object
 13  streaming_tv              7043 non-null   object
 14  streaming_movies          7043 non-null   object
 15  contract_type_id          7043 non-null   int64
 16  paperless_billing         7043 non-null   object
 17  payment_type_id           7043 non-null   int64
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
dtypes: float64(1), int64(5), object(15)
memory usage: 1.1+ MB

### Does tenure correlate with monthly charges?

$H_{0}$: There is no linear correlation between tenure and monthly charges.
<br>
$H_{a}$: There is a linear correlation between tenure and monthly charges.

In [55]:
r, p = stats.pearsonr(customers.tenure, customers.monthly_charges)
r, p

(0.24789985628615263, 4.0940449914811555e-99)

### Does tenure correlate with total charges?

$H_{0}$: There is no linear correlation between tenure and total charges.
<br>
$H_{a}$: There is a linear correlation between tenure and total charges.

In [56]:
# We must first fill in null values in the total_charges column
customers_with_no_total_charges = customers.total_charges == ' '
customers.loc[customers_with_no_total_charges, 'total_charges'] = '0'

In [78]:
r, p = stats.pearsonr(customers.tenure, customers.total_charges.astype('float'))
r, p

(0.8261783979502499, 0.0)

### Does tenure correlate with monthly charges when we control for phone and internet service?

$H_{0}$: There is no linear correlation between tenure and monthly charges for customers with phone service.
<br>
$H_{a}$: There is a linear correlation between tenure and monthly charges for customers with phone service.

In [59]:
# For customers with phone service
customers_with_phone = customers.phone_service == 'Yes'

r, p = stats.pearsonr(customers[customers_with_phone].tenure, customers[customers_with_phone].monthly_charges)
r, p

(0.24538898585363167, 7.11787107794137e-88)

$H_{0}$: There is no linear correlation between tenure and monthly charges for customers without phone service.
<br>
$H_{a}$: There is a linear correlation between tenure and monthly charges for customers without phone service.

In [61]:
# For customers without phone service
customers_without_phone = customers.phone_service == 'No'

r, p = stats.pearsonr(customers[customers_without_phone].tenure, customers[customers_without_phone].monthly_charges)
r, p

(0.5857597986661369, 4.6033703473420516e-64)

$H_{0}$: There is no linear correlation between tenure and monthly charges for customers with internet service.
<br>
$H_{a}$: There is a linear correlation between tenure and monthly charges for customers with internet service.

In [63]:
# For customers with internet service
customer_with_internet = customers.internet_service_type_id == 3

r, p = stats.pearsonr(customers[customer_with_internet].tenure, customers[customer_with_internet].monthly_charges)
r, p

(0.34232562306194547, 3.3561869551954843e-43)

$H_{0}$: There is no linear correlation between tenure and monthly charges for customers without internet service.
<br>
$H_{a}$: There is a linear correlation between tenure and monthly charges for customers without internet service.

In [64]:
# For customers with internet service
customer_without_internet = customers.internet_service_type_id != 3

r, p = stats.pearsonr(customers[customer_without_internet].tenure, customers[customer_without_internet].monthly_charges)
r, p

(0.3723066263198684, 5.890963580506786e-181)

### What about total charges when we control for phone and internet service?

$H_{0}$: There is no linear correlation between tenure and total charges for customers with phone service.
<br>
$H_{a}$: There is a linear correlation between tenure and total charges for customers with phone service.

In [66]:
r, p = stats.pearsonr(customers[customers_with_phone].tenure, customers[customers_with_phone].total_charges.astype('float'))
r, p

(0.8301076972900451, 0.0)

$H_{0}$: There is no linear correlation between tenure and total charges for customers without phone service.
<br>
$H_{a}$: There is a linear correlation between tenure and total charges for customers without phone service.

In [68]:
r, p = stats.pearsonr(customers[customers_without_phone].tenure, customers[customers_without_phone].total_charges.astype('float'))
r, p

(0.9535697728407466, 0.0)

$H_{0}$: There is no linear correlation between tenure and total charges for customers with internet service.
<br>
$H_{a}$: There is a linear correlation between tenure and total charges for customers with internet service.

In [79]:
r, p = stats.pearsonr(customers[customer_with_internet].tenure, customers[customer_with_internet].total_charges.astype('float'))
r, p

(0.9815669784401068, 0.0)

$H_{0}$: There is no linear correlation between tenure and total charges for customers without internet service.
<br>
$H_{a}$: There is a linear correlation between tenure and total charges for customers without internet service.

In [80]:
r, p = stats.pearsonr(customers[customer_without_internet].tenure, customers[customer_without_internet].total_charges.astype('float'))
r, p

(0.9320165580130593, 0.0)

## 2

Use the employees database.

### Is there a relationship between how long an employee has been with the company and their salary?

In [84]:
# Here we are only looking at current employees and their current salaries
sql = '''
SELECT
    employees.emp_no,
    salaries.salary,
    DATEDIFF(NOW(), employees.hire_date) AS days_with_company
FROM employees
JOIN salaries USING (emp_no)
WHERE salaries.to_date > NOW();
'''

salaries = pd.read_sql(sql, get_db_url('employees'))
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240124 entries, 0 to 240123
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   emp_no             240124 non-null  int64
 1   salary             240124 non-null  int64
 2   days_with_company  240124 non-null  int64
dtypes: int64(3)
memory usage: 5.5 MB

$H_{0}$: There is no linear correlation between salary and how long an employee has been with the company.
<br>
$H_{a}$: There is a linear correlation between salary and how long an employee has been with the company.

In [83]:
r, p = stats.pearsonr(salaries.salary, salaries.days_with_company)
r, p

(0.30646256131860894, 0.0)

### Is there a relationship between how long an employee has been with the company and the number of titles they have had?

In [85]:
# Here we are only looking at current employees and their current salaries
sql = '''
SELECT
    employees.emp_no,
    titles_count.num_titles,
    DATEDIFF(NOW(), employees.hire_date) AS days_with_company
FROM employees
JOIN titles USING (emp_no)
JOIN (
    SELECT
        emp_no,
        COUNT(title) AS num_titles
    FROM titles
    GROUP BY emp_no
) AS titles_count USING (emp_no)
WHERE titles.to_date > NOW();
'''

titles = pd.read_sql(sql, get_db_url('employees'))
titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240124 entries, 0 to 240123
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   emp_no             240124 non-null  int64
 1   num_titles         240124 non-null  int64
 2   days_with_company  240124 non-null  int64
dtypes: int64(3)
memory usage: 5.5 MB

$H_{0}$: There is no correlation between the number of titles an employee has had and how long an employee has been with the company.
<br>
$H_{a}$: There is a correlation between the number of titles an employee has had and how long an employee has been with the company.

In [87]:
r, p = stats.pearsonr(titles.num_titles, titles.days_with_company)
r, p

(0.2871267889699541, 0.0)

# 3

Use the sleepstudy data. Is there a relationship between days and reaction time?

In [90]:
sleepstudy = data('sleepstudy')
sleepstudy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180 entries, 1 to 180
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Reaction  180 non-null    float64
 1   Days      180 non-null    int64
 2   Subject   180 non-null    int64
dtypes: float64(1), int64(2)
memory usage: 5.6 KB

$H_{0}$: There is no correlation between days and reaction time.
<br>
$H_{a}$: There is a correlation between days and reaction time.

In [91]:
r, p = stats.pearsonr(sleepstudy.Days, sleepstudy.Reaction)
r, p

(0.5352302262650253, 9.894096322214812e-15)