# -

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

from pydataset import data

In [2]:
# Helper Functions

def test_1tail_larger(t, p):
    if (p / 2) < alpha and t > 0:
        print('The null hypothesis is rejected')
    else:
        print('Failed to reject null hypothesis')
        
def test_1tail_smaller(t, p):
    if (p / 2) < alpha and t < 0:
        print('The null hypothesis is rejected')
    else:
        print('Failed to reject null hypothesis')
        
def test_2tail(p):
    if p < alpha:
        print('The null hypothesis is rejected')
    else:
        print('Failed to reject null hypothesis')

# Overview Exercises

For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like.

---

### Has the network latency gone up since we switched internet service providers?

Null Hypothesis: There is no difference in network latency between internet service provider A and internet service provider B.

Alternative Hypothesis: On average the network latency for internet service provider B is greater than that of internet service provider A.

True Positive: Testing determines that there is a difference in network latency between ISP A and ISP B which agrees with reality.

True Negative: Testing determines that there is no difference in network latency between ISP A and ISP B which agrees with reality.

Type I Error: Testing determines that there is a difference in network latency between ISP A and ISP B, but in reality there is no difference.

Type II Error: Testing determines that there is no difference in network latency between ISP A and ISP B, but in reality there is a difference.

---

### Is the website redesign any good?

Null Hypothesis: The website redesign does not resolve the issue raised about the old design.

Alternative Hypothesis: The website redesign resolves the issue raised about the old design.

True Positive: Testing determines that the redesign does resolve the issue raised about the old design which agrees with reality.

True Negative: Testing determines that the resdesign does not resolve the issue raised about the old design which agrees with reality.

Type I Error: Testing determines that the redesign does resolve the issue raised about the old design, but in reality it does not.

Type II Error: Testing determines that the resdesign does not resolve the issue raised about the old design, but in reality it does.

---
### Is our television ad driving more sales?

Null Hypothesis: Our television ad is not driving more sales.

Alternative Hypothesis: Our television ad is driving more sales.

True Positive: Testing determines that our television ad is driving more sales which agrees with reality.

True Negative: Testing determines that our television ad is not driving more sales which agrees with reality.

Type I Error: Testing determines that our television ad is driving more sales, but in reality it is not.

Type II Error: Testing determines that our television ad is not driving more sales, but in reality it is.

# T-Test Exercises

### Ace Realty

Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

We are comparing two samples so we will use a two sample t-test for comparison.

**Assumptions**

- Normal Distribution, or at least 30 observations and "kinda" normal. The more observations you have, the less "normal" it needs to appear. (CLT)
- Independent samples
- Equal Variances (or set method argument to False when not

In [33]:
# Each sample has more than 30 observations so presume normal distributions

sample1_mean = 90
sample1_stddev = 15
sample1_size = 40

sample2_mean = 100
sample2_stddev = 20
sample2_size = 50

In [35]:
# The variances are not equal so we will set the equal_var argument to False, the samples are independent.
sample1_stddev ** 2, sample2_stddev ** 2

(225, 400)

In [31]:
# Since we don't have the datasets we use the ttest_ind_from_stats function

t, p = stats.ttest_ind_from_stats(
    sample1_mean, 
    sample1_stddev, 
    sample1_size, 
    sample2_mean, 
    sample2_stddev, 
    sample2_size, 
    equal_var = False
)

H0: The average time to sell homes at office #1 equals the average time to sell homes at office #2.
<br>
Ha: The average time to sell homes at office #1 is significantly larger than the average time to sell homes at office #2.

In [36]:
test_1tail_larger(t, p)

Failed to reject null hypothesis

H0: The average time to sell homes at office #1 equals the average time to sell homes at office #2.
<br>
Ha: The average time to sell homes at office #1 does not equal the average time to sell homes at office #2.

In [38]:
test_2tail(p)

The null hypothesis is rejected

H0: The average time to sell homes at office #1 equals the average time to sell homes at office #2.
<br>
Ha: The average time to sell homes at office #1 is significantly smaller than the average time to sell homes at office #2.

In [39]:
test_1tail_smaller(t, p)

The null hypothesis is rejected

**Conclusion**

The average time to sell homes at office #1 is significantly smaller than the average time to sell homes at office #2.

---

Load the mpg dataset and use it to answer the following questions:

In [5]:
mpg = data('mpg')
mpg.info()
alpha = 0.05

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

---
### Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

Here we will be comparing two different samples so we will use a two sample t-test for comparison.

**Assumptions**

- Normal Distribution, or at least 30 observations and "kinda" normal. The more observations you have, the less "normal" it needs to appear. (CLT)
- Independent samples
- Equal Variances (or set method argument to False when not

In [6]:
# Here we create a average mpg column in order to make comparing the fuel efficiency of each car easier.

mpg['avg_mpg'] = (mpg.cty + mpg.hwy) / 2
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,avg_mpg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0

**Verify Assumptions**

In [7]:
# Each sample has more than 30 observations, and they are independent samples

mpg.year.value_counts()

1999    117
2008    117
Name: year, dtype: int64

In [8]:
# Now we assign our samples to variables

sample_1999 = mpg[mpg.year == 1999].avg_mpg
sample_2008 = mpg[mpg.year == 2008].avg_mpg

In [9]:
# The variances are not equal so we will set the equal_var argument to False

sample_1999.var(), sample_2008.var()

(27.122605363984682, 24.097480106100797)

In [10]:
# Calculate the t statistic and p value
t, p = stats.ttest_ind(sample_1999, sample_2008, equal_var = False)

H0: The average mpg for 1999 cars equals the average mpg for 2008 cars.
<br>
Ha: The average mpg for 1999 cars is significantly larger than the average mpg for 2008 cars.

In [11]:
test_1tail_larger(t, p)

Failed to reject null hypothesis

H0: The average mpg for 1999 cars equals the average mpg for 2008 cars.
<br>
Ha: The average mpg for 1999 cars does not equal the average mpg for 2008 cars.

In [12]:
test_2tail(p)

Failed to reject null hypothesis

H0: The average mpg for 1999 cars equals the average mpg for 2008 cars.
<br>
Ha: The average mpg for 1999 cars is significantly smaller than the average mpg for 2008 cars.

In [13]:
test_1tail_smaller(t, p)

Failed to reject null hypothesis

**Conclusion**

There is no difference in fuel-efficiency in cars from 2008 vs 1999?

---
### Are compact cars more fuel-efficient than the average car?

Here we will be comparing one sample to the overall so we will use a one sample t-test.

**Assumptions**

- Normal Distribution, or at least 30 observations and "kinda" normal. The more observations you have, the less "normal" it needs to appear. (CLT)

In [14]:
# Here we assign our sample to a variable

compact_cars = mpg[mpg['class'] == 'compact'].avg_mpg

**Verify Asssumptions**

In [15]:
# We have more than 30 observations

compact_cars.size

47

In [16]:
# Calculate the overall mean, t statistic and p value
overall_mean = mpg.avg_mpg.mean()

alpha = 0.05
t, p = stats.ttest_1samp(compact_cars, overall_mean)

H0: The average mpg for compact cars equals the overall average mpg.
<br>
Ha: The average mpg for compact cars is significantly larger than the overall average mpg.

In [17]:
test_1tail_larger(t, p)

The null hypothesis is rejected

H0: The average mpg for compact cars equals the overall average mpg.
<br>
Ha: The average mpg for compact cars does not equal the overall average mpg.

In [18]:
test_2tail(p)

The null hypothesis is rejected

H0: The average mpg for compact cars equals the overall average mpg.
<br>
Ha: The average mpg for compact cars is significantly smaller than the overall average mpg.

In [19]:
test_1tail_smaller(t, p)

Failed to reject null hypothesis

**Conclusion**

The fuel efficiency for compact cars is significantly larger than the overall fuel efficiency for all cars.

---
### Do manual cars get better gas mileage than automatic cars?

Here we will be comparing two different samples so we will use a two sample t-test for comparison.

**Assumptions**

- Normal Distribution, or at least 30 observations and "kinda" normal. The more observations you have, the less "normal" it needs to appear. (CLT)
- Independent samples
- Equal Variances (or set method argument to False when not

In [20]:
# Assign the sample sets to variables

manual_cars = mpg[mpg.trans.str.contains('manual')].avg_mpg
automatic_cars = mpg[mpg.trans.str.contains('auto')].avg_mpg

**Verify Assumptions**

In [21]:
# Each sample has more than 30 observations, and they are independent samples

manual_cars.size, automatic_cars.size

(77, 157)

In [22]:
# The variances are not equal so we will set the equal_var argument to False

manual_cars.var(), automatic_cars.var()

(26.635167464114826, 21.942777233382337)

In [23]:
t, p = stats.ttest_ind(manual_cars, automatic_cars, equal_var = False)

H0: The average mpg for manual cars equals the average mpg for automatic cars
<br>
Ha: The average mpg for manual cars is significantly larger than the average mpg for automatic cars

In [24]:
test_1tail_larger(t, p)

The null hypothesis is rejected

H0: The average mpg for manual cars equals the average mpg for automatic cars
<br>
Ha: The average mpg for manual cars does not equal the average mpg for automatic cars

In [25]:
test_2tail(p)

The null hypothesis is rejected

H0: The average mpg for manual cars equals the average mpg for automatic cars
<br>
Ha: The average mpg for manual cars is significantly smaller than the average mpg for automatic cars

In [26]:
test_1tail_smaller(t, p)

Failed to reject null hypothesis

**Conclusion**

The fuel efficiency of manual cars is significantly larger than the fuel efficiency of automatic cars.